@charset "utf-8";

/* header  */
header {
  background: #fff;
  height: 102px;
}

.header_inner {
  padding: 0;
  display: block;
  height: 100%;
}

.header_nav {
  display: none;
}

.login_nav {
  display: none;
}

.search_design {
  display: none;
}

h1 {
  top: 3%;
  left: 13%;
}

/* design */
main {
  color: #7F5539;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-bottom: 80px;
  font-size: 12px;
}

h2 {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 60px;
}

p {
  line-height: 1;
  letter-spacing: 0;
  color: #7F5539;
  margin-bottom: 8px;
}

.card_item {
  margin-bottom: 20px;
}

.card_item:last-of-type {
  margin-bottom: 40px;
}

.title {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #7F5539;
  margin-bottom: 8px;
}

label {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #7F5539;
  margin-right: 30px;
}

.require {
  color: #bf0000;
}

input[type=text] {
  border: #7F5539 1px solid;
  width: 100%;
  height: 20px;
  padding-left: 3px;
}

input[type=number] {
  border: #7F5539 1px solid;
  width: 20%;
  margin-right: 10px;
  height: 20px;
  padding-left: 3px;
}

input[type=password] {
  border: #7F5539 1px solid;
  width: 20%;
  height: 20px;
  padding-left: 3px;
}

input[type=submit] {
  background-color: #7F5539;
  color: #fff;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:768px) {
  main {
    max-width: 600px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .title,
  main p,
  label {
    font-size: 24px;
  }

  input[type=text],
  input[type=number],
  input[type=password] {
    height: 31px;
  }

  input[type=number] {
    width: 30%;
    margin-bottom: 8px;
  }

  input[type=password] {
    width: 30%;
  }

  .card_item {
    margin-bottom: 40px;
  }

  .card_item:last-of-type {
    margin-bottom: 80px;
  }

  input[type=submit] {
    padding: 20px 50px;
    font-size: 20px;
  }

  .button {
    width: 300px;
  }

}