@charset "utf-8";

/* パンくずメニュー枠 */
.breadcrumbs {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

/* ユーザー名の枠 */
.guest_name_area {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

.cart_message {
  padding: 24px 20px;
  font-size: 12px;
  color: #333;
}

/* 商品の枠 */
.merchandise_area {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 商品画像 */
.merchandise_image {
  width: 335px;
  margin-bottom: 20px;
  max-width: 100%;
  text-align: center;
}

/* 商品名 */
.merchandise_name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/* 商品の値段 */
.price {
  color: #BF0000;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/* 商品の個数 */
.count {
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
}

/* 削除する */
.delete {
  padding-bottom: 4px;
  color: #7F5539;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  border-bottom: 0.5px solid #7F5539;
}

/* 合計の表示と購入に移動する表示の枠 */
.confirm_window {
  height: 148px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border: 2px solid #FFD233;

}

/* 枠の中の文字 */
.confirm_window p {
  margin: 38px 0 20px;
  font-size: 16px;
  font-weight: 500;
}

/* 購入先行き */
.shopping_confirm {
  height: 36px;
  padding: 12px 32px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  background-color: #BF0000;
}

.product_return {
  margin: 40px 0 80px;
  text-align: center;
}

.continue {
  padding: 12px 38px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  border: 1px solid #7F5539;
  background-color: #7F5539;
  color: #fff;
}

@media screen and (min-width:768px) {
  .guest_name_area {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }



  /* パンくずメニュー枠 */
  .breadcrumbs {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
  }

  /* ユーザー名の枠 */
  .guest_name_area {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
  }

  .cart_message {
    padding: 24px 20px;
    font-size: 12px;
    color: #333;
  }

  /* 商品の枠 */
  .merchandise_area {
    margin: 50px auto 80px;
    max-width: 1040px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-items: start;
    row-gap: 10px;
    column-gap: 30px;
  }

  /* 商品画像 */
  .merchandise_image {
    width: 24.5vw;
    /* height: 24.5vw; */
    max-width: 335px;
    margin-bottom: 20px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: start;
  }

  /* 商品名 */
  .merchandise_name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    /* margin-bottom: 20px; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: span 3;
  }

  /* 商品の値段 */
  .price {
    font-size: 24px;
    color: #BF0000;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    /* margin-bottom: 20px; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .total {
    font-size: 24px;
    font-weight: 500;
  }

  /* 商品の個数 */
  .count {
    /* margin-bottom: 16px; */
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
  }

  .no_items {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    /* justify-self: end; */
  }

  /* 合計の表示と購入に移動する表示の枠 */
  .confirm_window {
    /* height: 148px; */
    font-size: 24px;
    max-width: 1040px;
    align-self: center;
    text-align: center;
    border: 2px solid #FFD233;
  }

  /* 削除する */
  .delete {
    /* padding-bottom: 4px; */
    color: #7F5539;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    border-bottom: 0.5px solid #7F5539;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    align-self: end;
  }

  /* 合計の表示と購入に移動する表示の枠 */
  .confirm_window {
    /* height: 148px; */
    font-size: 24px;
    margin: 0 auto;
    width: 90%;
    align-self: center;
    text-align: center;
    border: 2px solid #FFD233;
  }

  /* 枠の中の文字 */
  .confirm_window p {
    margin: 38px 0 20px;
    font-size: 24px;
    font-weight: 500;
  }

  /* 購入先行き */
  .shopping_confirm {
    height: 36px;
    padding: 12px 32px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    background-color: #BF0000;
  }

  .product_return {
    margin: 40px 0 80px;
    text-align: center;
  }

  .continue {
    padding: 12px 38px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
    border: 1px solid #7F5539;
    background-color: #7F5539;
    color: #fff;
  }
}