@charset "utf-8";

main {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.bnav,
.guest_name_area {
  font-size: 12px;
  border-bottom: 1px #7F5539 solid;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.guest_name_area {
  margin-bottom: 20px;
}

.product_img img {
  width: 335px;
  height: 335px;
  margin-bottom: 20px;
}

.product_name {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}

.product_descriotion {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-top: #EDE0D4 solid 1px;
  border-bottom: #EDE0D4 solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.price_box {
  display: flex;
  margin-bottom: 24px;
}

.product_price {
  color: #BF0000;
  font-size: 16px;
  margin-right: 20px;
}

.favorite img {
  width: 20px;
}

.cart_box {
  display: flex;
  margin-bottom: 80px;
}

.number input[type=text] {
  border: 1px #7F5539 solid;
  height: 36px;
  width: 56px;
  margin-right: 4px;
  text-align: right;
  padding: 5px;
  color: #333;
}

.count {
  color: #333;
  font-size: 16px;
  margin-right: 12px;
}

.in_cart {
  font-size: 12px;
  color: #fff;
  background-color: #7F5539;
  padding: 12px 38px;
}

@media screen and (min-width:768px) {

  main {
    max-width: 80vw;
  }

  .bnav,
  .guest_name_area {
    padding-left: 8%;
  }

  .guest_name_area {
    margin-bottom: 80px;
  }

  .product_box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20vh;
  }

  .right_box {
    width: 435px;
  }

  .product_img img {
    width: 540px;
    height: 540px;
  }

  .product_name {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .product_descriotion {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .product_price {
    font-size: 24px;
  }

  .favorite img {
    width: 24px;
    height: 24px;
  }

  .cart_box input[type=text] {
    width: 80px;
    height: 52px;
  }

  .count {
    font-style: 24px;
  }


  .in_cart {
    font-size: 20px;
    padding: 16px 60px;
  }
}