@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #7f5539;
}

.guest_name_area {
  padding: 12px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

.login_now {
  margin: 32px 0 72px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

#login_area {
  height: 84px;
  margin: 0 40px 24px;
  border: 2px solid #e8c2ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_area p {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
}

.top_page_return {
  margin: 0 40px 84px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
}

.top_page_return a {
  padding-bottom: 4px;
  border-bottom: 1px solid #7f5539;
  text-transform: uppercase;
}

@media screen and (min-width:768px) {

  .guest_name_area {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }

  .login_now {
    margin: 80px auto;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0;
  }

  #login_area {
    height: 184px;
    margin: 0 auto 24px;
    width: 600px;
  }

  #login_area p {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
  }

  .top_page_return {
    margin: 0 auto 378px;
    width: 600px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
  }

  .top_page_return a {
    padding-bottom: 8px;
  }
}