@charset "utf-8";

body {
  max-width: 100%;
  margin: 0 auto;
}

/* パンくずリスト */
.product_list {
  font-size: 12px;
  line-height: 1;

  /* 茶色下線 */
  width: 100%;
  border-bottom: 1px solid #7F5539;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ユーザー名 */
.guest_name_area {
  font-weight: medium;
  font-size: 12px;
  line-height: 1;

  /* 茶色下線 */
  width: 100%;
  border-bottom: 1px solid #7F5539;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ～ドーナツサイト商品一覧～ */
/* メイン */
main {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/* タイトル1　商品一覧 */
h2 {
  font-size: 20px;
  line-height: 1;
  padding-bottom: 8px;
  color: #333;

  /* 黄色下線 */
  width: 100px;
  border-bottom: 4px solid #ffd233;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 32px;
}

/* タイトル2　バラエティセット */
h3 {
  font-size: 16px;
  line-height: 1;
  padding-bottom: 8px;
  color: #7F5539;

  /* 黄色下線 */
  width: 160px;
  border-bottom: 4px solid #ffd233;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

/* 商品一覧と */
/* バラエティセット（共通の箱） */
.container_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ※ドーナツ画像～カートに入れるまでの */
/* 個々の箱 */
.product_container {
  margin-bottom: 80px;
  width: 158px;
}

/* ドーナツ画像 */
.donuts_image {
  width: 158px;
  height: 158px;
}

/* 商品名 */
.list_text {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.6;
  color: #7f5539;
  /* margin: 22px 0; */
  margin-top: 19.5px;
  margin-bottom: 22px;
  /* width: 158px; */
}

/* 税込み～ハートまでの箱 */
.price_container {
  display: flex;
  /* インライン要素でも使えるフレックス */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: space-between;
}

/* 商品金額 */
.list_price {
  font-size: 16px;
  line-height: 1;
  color: #bf0000;
  /* display: inline-block; */
  /* margin-right: 8vw; */
}

/* ハートマーク */
.heart_mark {
  width: 20px;
  height: 20px;
  /* display: inline-block; */
}

/* カートに入れるボタン*/
/* <!-- ↓10章ｐ152　cssは183　sendボタン --> */
.submit_btn {
  text-align: center;
}

.in_cart {
  width: 158px;
  height: 36px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background: #7f5539;
  margin-top: 22px;
}


@media screen and (min-width:768px) {
  /* ～ドーナツサイト商品一覧（PC版）～ */

  /* パンくずリスト（PC版） */
  .product_list {

    /* 茶色下線 */
    padding-left: 103px;
  }

  /* ユーザー名（PC版） */
  .guest_name_area {

    /* 茶色下線 */
    padding-left: 103px;
  }

  /* メイン （PC版）*/
  main {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  /* タイトル1　商品一覧（PC版） */
  h2 {
    font-size: 32px;
    padding-bottom: 17px;

    /* 黄色下線 */
    width: 200px;
    border-bottom: 8px solid #ffd233;
    margin-bottom: 80px;
    margin-top: 79px;
  }

  /* タイトル2　バラエティセット（PC版） */
  h3 {
    font-size: 24px;
    padding-bottom: 16px;

    /* 黄色下線 */
    width: 240px;
    border-bottom: 8px solid #ffd233;
    margin-bottom: 104px;
  }

  /* 商品一覧と */
  /* バラエティセット（共通の箱）（PC版） */
  .container_wrapper {
    margin-bottom: 160px;
  }

  /* ※ドーナツ画像～カートに入れるまでの */
  /* 個々の箱（PC版） */
  .product_container {
    margin-bottom: 80px;
    width: 23vw;
  }

  /* ドーナツ画像（PC版） */
  .donuts_image {
    width: 25vw;
    height: 25vw;
    /* width: 320px;
    height: 320px; */
  }

  /* 商品名（PC版）*/
  .list_text {
    font-size: 24px;
    /* margin: 22px 0; */
  line-height: 1.6;
    margin-top: 19.5px;
    margin-bottom: 22px;
  letter-spacing: 1.1px;
    /* width: 320px; */
  }

  /* 商品金額（PC版） */
  .list_price {
    font-size: 24px;
    color: #bf0000;
    /* display: inline-block; */
    /* margin-right: 8vw; */
  }

  /* ハートマーク（PC版）*/
  .heart_mark {
    width: 24px;
    height: 24px;
    /* display: inline-block; */
  }

  /* カートに入れるボタン（PC版）  */
  .in_cart {
    width: 260px;
    height: 52px;
    font-size: 20px;
    margin-top: 20px;
  }
}